body {
    color: white;
    background: black;

       margin: 0px;
    }
    
    header {
        border-bottom: solid 2px rgb(247, 0, 0);
        padding: 20px;
        font-size: 32px;
        color: rgb(228, 42, 42);
    }
    section {
        background: rgb(151, 38, 38);
        padding: 80px;
        display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}